<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" th:action="@{/uploadFile}" enctype="multipart/form-data">
    <h3 th:text="${message}" style="text-align: center;color: red"></h3>
    <br>
    <div style="margin-left: 400px;margin-top: 50px">
        <input type="file" name="file" required>
        <br>
        <button type="submit" class="registerbtn">submit</button>
    </div>
</form>
<table class="table table-dark" border="2" style="margin-top: 20px">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">letterCredit</th>
        <th scope="col">issueDate</th>
        <th scope="col">amount</th>
        <th scope="col">Beneficiary</th>
        <th scope="col">Result</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d :  ${data}">
        <th scope="col">1</th>
        <td><p th:text="${d.letterCredit}"/></td>
        <td><p th:text="${d.issueDate}"/></td>
        <td><p th:text="${d.amount}"/></td>
        <td><p th:text="${d.beneficiary}"/></td>
        <td><p th:text="${d.result}"></p></td>
    </tr>
    </tbody>
</table>
</body>
</html>
